{% extends "autentification/base.html" %}
{% block content %}
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="font-size: 26px;">changement de mote de passe </p>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert" data-mdb-color="danger">{{ message }}</div>
            {% endif %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert" data-mdb-color="danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form class="mx-1 mx-md-4" action="{% url 'change_password' uidb64=uidb64 token=token%}" method="POST" >
    {% csrf_token %}
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="password" id="form3Example1c" class="form-control" name="r_password" required />
            <label class="form-label" for="form3Example1c">Votre nouveau mot de passe</label>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="password" id="form3Example4c" class="form-control" name="c_password" required />
            <label class="form-label" for="form3Example4c">Confirmation de mot de passe</label>
        </div>
    </div>
    <div
        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Accepter le changement</button>
    </div>
    </form>
{% endblock content %}