{% autoescape off %}
Changement de mot de passe

Bonjour {{ name }},

Nous avons reçu une demande de changement de mot de passe pour votre compte.

Pour procéder au changement de votre mot de passe, veuillez cliquer sur le lien ci-dessous :

Lien de confirmation : http://{{ domain }}{% url 'change_password' uidb64=uid token=token %}

Si vous n'avez pas demandé ce changement, veuillez ignorer cet email ou nous contacter immédiatement.

Cordialement,
L'équipe de prédiction des maladies
{% endautoescape %}
